.footer {
  background-color: rgb(190, 190, 190);
  font-size: 10pt;
  font-weight: bold;
  padding: 10px;
  color: #000;
  text-align: center;
  width: 100%;
  position: absolute;
  height: 2.5rem;
}

.footer a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}
