.title {
  font-weight: bold;
  font-size: 15pt;
}

.form-group {
  margin-bottom: 5px;
}

.mail-button-set button {
  margin: "10px";
  color: "#fff";
}

.btn {
  color: white;
}

.graph {
  height: inherit;
  padding: 10px;
  text-align: center;
}

#Graph {
  background-color: #ffffff;
}
