<div class="container" style="margin:10px">
    <h4>GraphMail Form</h4>
    <p class="mainpara">
        Fill out the form to send your email to someone with your written or imported result
    </p>
    <form action="records">
        <div class="form-group d-flex half">
            <div>
                <label for="fromName">From (Name)</label>
                <input class="form-control" type="text" name="fromName" id="fromName">
            </div>
            <split angle="horizontal" size="15"></split>
            <div>
                <label for="toName">To (Name)</label>
                <input class="form-control" type="text" name="toName" id="toName">
            </div>
        </div>
        <div class="form-group d-flex half">
            <div>
                <label for="sendfrom">Send From</label>
                <input class="form-control" type="email" name="sendfrom" id="sendfrom">
            </div>
            <split angle="horizontal" size="15"></split>
            <div>
                <label for="sendto">Send To</label>
                <input class="form-control" type="email" name="sendto" id="sendto">
            </div>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <input class="btn btn-primary" type="submit" value="Send">
        
    </form>
    
</div>
